*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    background: whitesmoke;
}

header {
    position: relative;
}

.navbar {
    /*width: 50px;
    margin: 0 auto;
    overflow: hidden;*/
    position: fixed;
    top: 0; 
    width: 100%; 
    background: #393940;
    z-index: 3;
    padding:6px 0 2px 0;
}

.logo {
    float: right;
    margin: 0;
    padding-right: 10px;
    width: 50px;
    height: 50px;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;

}

.navbar nav {
    float: left;
}

.navbar nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar nav li {
    display: inline-block;
    /*padding: 15px;*/

}

.navbar nav a {
    display: block;
    padding: 15px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
}

.navbar nav a.link-active {
    color: #3f4ebf
}

.navbar nav a:hover,
.navbar nav a:active {
    color: #1c34eb
}

.welcome {
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    font-size: large;
    background: #393940;
    color: whitesmoke;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.blogs h2 {
    margin-top: 15px;
    padding-top: 20px;
    margin-left: 15px;
    padding-left: 20px;
    text-decoration: underline;
    width: 100%;
}

.day {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    background-color: darkgray;
}

.day-img {
    width: 100%;
}

@Media only screen and (min-width: 600px){
    .day {
        width: calc((100% - 90px) / 2);
        margin-right: 0;
    }
}

@Media only screen and (min-width: 900px) {
    .day {
        width: calc((100% - 120px) / 3);
    }
}

/* Daliy Life */

.blog { 
    padding-top: 50px;
    max-width: 900px;
    margin: 0 auto;
}
.blog::after {
    content: '';
    display: table;
    clear: both;
}

.blog img {
    max-width: 40%;
    float: right;
}

@Media only screen and (max-width: 600px) {
    .blog img {
        max-width: 100%;
    }
}
