body {
    font-family: Arial;
    font-weight: 300;
    margin: 0 auto;
    background-color: black;
}
    .navbar {
    width: 50px;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%; 
    background: #393940; 
}

.logo {
    float: right; 
    margin: 0;
    padding-right: 10px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: left;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        padding: 15px;
    }

    nav a {
        color: whitesmoke;
        text-decoration: none;
        font-size: 14px;
    }
h1 {
    font-family: Arial;
    color: #fff830;
    text-align:center;
    margin: 150px;
    padding: 150px;
}
